[package]
name = "chrs"
version = "0.0.16"
authors = ["FNNDSC <dev@babyMRI.org>"]

edition = "2021"

readme = "README.md"
description = "CLI ChRIS client"
repository = "https://github.com/FNNDSC/chrs"
license = "MIT"
categories = ["command-line-utilities", "science"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chris = { path = "../chris", version = "0.0.10" }
clap = { version = "3.1.6", features = ["derive"] }
lazy_static = "1.4.0"
keyring = "1.1.2"
anyhow = "1.0.56"
thiserror = "1.0.30"
tokio = { version = "1.17.0", features = ["full"] }
tokio-util = { version = "0.7.1", features = [ "io" ] }
futures = "0.3.21"
async-stream = "0.3.3"
async-recursion = "1.0.0"
confy = "0.4.0"
dialoguer = "0.10.0"
indicatif = "0.17.0-rc.11"
console = "0.15.0"
reqwest = "0.11.10"
serde = "1.0.136"
serde_json = "1.0.79"
serde_yaml = "0.8.23"
fs-err = "2.7.0"
pathdiff = "0.2.1"
itertools = "0.10.3"
regex = "1.5"
url = "2.2.2"
termtree = "0.4.0"

[dev-dependencies]
tempfile = "3.3.0"
rstest = "0.15.0"

[features]
default = ["chris/default"]
vendored-openssl = ["chris/vendored-openssl"]
rustls = ["chris/rustls"]

