# On tags, publish crates to crates.io.
# If chrs is to be published, build binaries for multiple platforms and
# create a draft Github release.

name: Release

on:
  push:
    tags:
      - "chris/[0-9]+.[0-9]+.[0-9]+*"
      - "v[0-9]+.[0-9]+.[0-9]+*"

env:
  CARGO_TERM_COLOR: always

jobs:
  crate:
    runs-on: ubuntu-latest
    name: Publish to crates.io
    if: false
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - name: Publish chris (lib)
        if: startsWith( github.ref, 'refs/tags/chris/' )
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: --manifest-path chris/Cargo.toml
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      - name: Publish chrs (cli)
        if: startsWith( github.ref, 'refs/tags/v' )
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: --manifest-path chrs/Cargo.toml
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  # Cross-compile to many platforms and create compressed archive files for download.
  # Copied from
  # https://github.com/ClementTsang/bottom/blob/4870ff365a91b68eb0b9528c75375f01ce539e75/.github/workflows/build_releases.yml
  # Modified to support https://github.com/cargo-bins/cargo-binstall/blob/7857856f78efa46e2ebfaab28451e171d6e4c54d/SUPPORT.md
  #
  # For better compatibility, we use rustls instead of OpenSSL for all builds.
  # This is specified in chrs/Cargo.toml
  build-cross:
    if: startsWith( github.ref, 'refs/tags/v' )
    runs-on: ${{ matrix.triple.os }}
    container: ${{ matrix.triple.container }}
    env:
      RUST_BACKTRACE: 1
    strategy:
      fail-fast: false
      matrix:
        triple:
          - {
            os: "ubuntu-20.04",
            target: "x86_64-unknown-linux-gnu",
            cross: false,
            convenient: true
          }
          - {
            os: "ubuntu-20.04",
            target: "x86_64-unknown-linux-gnu",
            cross: false,
            container: quay.io/pypa/manylinux2014_x86_64,
            suffix: "2-17",
          }
          - {
            os: "ubuntu-20.04",
            target: "i686-unknown-linux-gnu",
            cross: true,
          }
          - {
            os: "ubuntu-20.04",
            target: "x86_64-unknown-linux-musl",
            cross: true,  # workaround, needs musl-gcc to compile OpenSSL
          }
          - {
            os: "ubuntu-20.04",
            target: "i686-unknown-linux-musl",
            cross: true,
          }
          - { os: "macOS-latest", target: "x86_64-apple-darwin", cross: false }
          - {
            os: "windows-2019",
            target: "x86_64-pc-windows-msvc",
            cross: false,
          }
          - {
            os: "windows-2019",
            target: "x86_64-pc-windows-gnu",
            cross: false,
          }

          # aarch64
          - {
            os: "ubuntu-20.04",
            target: "aarch64-unknown-linux-gnu",
            cross: true,
          }

          # armv7
          - {
            os: "ubuntu-20.04",
            target: "armv7-unknown-linux-gnueabihf",
            cross: true,
          }

          # PowerPC 64 LE
          - {
            os: "ubuntu-20.04",
            target: "powerpc64le-unknown-linux-gnu",
            cross: true,
          }

          # doesn't work
#          # Risc-V 64gc
#          - {
#            os: "ubuntu-20.04",
#            target: "riscv64gc-unknown-linux-gnu",
#            cross: true,
#          }

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Install toolchain
        uses: actions-rs/toolchain@88dc2356392166efad76775c878094f4e83ff746
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: ${{ matrix.triple.target }}

      - uses: Swatinem/rust-cache@842ef286fff290e445b90b4002cc9807c3669641  # 1.3.0
        with:
          key: ${{ matrix.triple.target }}

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --verbose --target=${{ matrix.triple.target }} --manifest-path chrs/Cargo.toml
          use-cross: ${{ matrix.triple.cross }}

      - name: Bundle release (Windows)
        if: matrix.triple.os == 'windows-2019'
        shell: bash
        run: |
          version="${GITHUB_REF##*/}"
          bin_dir="chrs-${{ matrix.triple.target }}${{ matrix.triple.suffix }}-$version"
          mkdir $bin_dir
          cp target/${{ matrix.triple.target }}/release/chrs.exe $bin_dir
          7z a $bin_dir.zip $bin_dir
          echo "ASSET=$bin_dir.zip" >> $GITHUB_ENV
      - name: Bundle release (Linux and macOS)
        if: matrix.triple.os != 'windows-2019'
        shell: bash
        run: |
          version="${GITHUB_REF##*/}"
          bin_dir="chrs-${{ matrix.triple.target }}${{ matrix.triple.suffix }}-$version"
          mkdir -v $bin_dir
          cp -v target/${{ matrix.triple.target }}/release/chrs $bin_dir
          tarball="$bin_dir.tgz"
          tar -czvf $tarball $bin_dir
          echo "ASSET=$tarball" >> $GITHUB_ENV
      - name: Create release directory for artifact, move file
        shell: bash
        run: |
          mkdir -v release
          mv -v '${{ env.ASSET }}' release/

      - name: Copy "convenience" binary to release directory
        if: matrix.triple.convenient
        shell: bash
        run: |
          cp -v target/${{ matrix.triple.target }}/release/chrs release/

      - name: Build Debian release
        id: deb
        if: matrix.triple.convenient
        run: |
          cargo install cargo-deb --version 1.42.1 --locked
          cargo deb --no-build -p chrs
          cp -v ./target/debian/*.deb release/
      - name: Test installation of .deb
        if: steps.deb.result != 'skipped'
        run: sudo dpkg -i release/*.deb

      - name: Save release as artifact
        uses: actions/upload-artifact@v3
        with:
          retention-days: 3
          name: release
          path: release

  upload-release:
    name: upload-release
    runs-on: ubuntu-latest
    needs: [ build-cross ]
    steps:
      - name: Get release artifacts
        uses: actions/download-artifact@v3
        with:
          name: release
          path: release

      - name: Print out all release files
        run: |
          echo "Generated $(ls ./release | wc -l) files:"
          ls ./release
      - name: Upload all saved release files
        uses: softprops/action-gh-release@17cd0d34deddf848fc0e7d9be5202c148c270a0a
        with:
          draft: true
          fail_on_unmatched_files: true
          files: |
            ./release/*
