# Make sure test workflows are more or less the same:
#     diff -y --color=always test-chris.yml test-chrs.yml

name: Test chrs (bin)

env:
  CARGO_TERM_COLOR: always

on:
  push:
    paths:
      - 'chrs/**'
      - 'Cargo.*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Keyring dependencies
        run: |
          sudo apt update -y
          sudo apt install -y gnome-keyring
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2
        # https://nexte.st/book/test-coverage.html
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - name: Run tests
        # Use wrapper script to access keyring
        # https://github.com/hwchen/keyring-rs/blob/4297618e0cf061eacedf6d7c3f164ee4074a3c5d/linux-test.sh
        run: |
          cd chrs
          cat > test.sh << EOF
          rm -f $HOME/.local/share/keyrings/*
          echo -n "test" | gnome-keyring-daemon --unlock
          
          exec cargo llvm-cov nextest --locked --all-features --lcov --output-path lcov.info
          
          EOF
          dbus-run-session -- bash -ex test.sh
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        if: always()
        with:
          fail_ci_if_error: true
          files: ./chrs/lcov.info
          flags: chrs
          token: ${{ secrets.CODECOV_TOKEN }}
