# Make sure test workflows are more or less the same:
#     diff -y --color=always test-chris.yml test-chrs.yml

name: Test chris (lib)

env:
  CARGO_TERM_COLOR: always

on:
  push:
    paths:
      - 'chris/**'
      - 'Cargo.*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Run ChRIS backend
        uses: FNNDSC/miniChRIS-docker@20230109

      - name: Git checkout
        uses: actions/checkout@v3
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2
        # https://nexte.st/book/test-coverage.html
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - name: Run tests
        id: test
        continue-on-error: true
        run: |
          cd chris
          cargo llvm-cov nextest --locked --all-features --lcov --output-path lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./chris/lcov.info
          flags: chris
      - name: End test
        run: '[ "${{ steps.test.outcome }}" = "success" ]'
