name: Test

env:
  CARGO_TERM_COLOR: always

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  local:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Keyring dependencies
        run: |
          sudo apt update -y
          sudo apt install -y gnome-keyring
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - uses: Swatinem/rust-cache@v1
      - name: Cargo test
        working-directory: chrs
        # https://github.com/hwchen/keyring-rs/blob/4297618e0cf061eacedf6d7c3f164ee4074a3c5d/linux-test.sh
        run: |
          cat > test.sh << EOF
          rm -f $HOME/.local/share/keyrings/*
          echo -n "test" | gnome-keyring-daemon --unlock
          cargo test
          EOF
          dbus-run-session -- bash test.sh
