name: Test

env:
  CARGO_TERM_COLOR: always

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-chrs:
    name: Test chrs (bin)
    runs-on: ubuntu-latest
    steps:
      - name: Keyring dependencies
        run: |
          sudo apt update -y
          sudo apt install -y gnome-keyring
      - name: Run ChRIS backend
        uses: FNNDSC/miniChRIS-docker@20230109

      - name: Git checkout
        uses: actions/checkout@v3
      - name: Setup rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2
      - name: Install tarpaulin
        uses: FNNDSC/quickinstall-tarpaulin@main
        with:
          version: '0.23.1'
      - name: Run tests
        id: test
        continue-on-error: true
        # Use wrapper script to access keyring
        # https://github.com/hwchen/keyring-rs/blob/4297618e0cf061eacedf6d7c3f164ee4074a3c5d/linux-test.sh
        run: |
          cd chrs
          cat > test.sh << EOF
          rm -f $HOME/.local/share/keyrings/*
          echo -n "test" | gnome-keyring-daemon --unlock
          
          exec cargo tarpaulin --color Always --locked --all-features --timeout 120 --out Xml
          
          EOF
          dbus-run-session -- bash -ex test.sh
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./chrs/cobertura.xml
          flags: chrs
      - name: End test
        run: '[ "${{ steps.test.outcome }}" = "success" ]'

  test-chris:
    name: Test chris (lib)
    runs-on: ubuntu-latest
    steps:
      - name: Run ChRIS backend
        uses: FNNDSC/miniChRIS-docker@20230109

      - name: Git checkout
        uses: actions/checkout@v3
      - name: Setup rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2
      - name: Install tarpaulin
        uses: FNNDSC/quickinstall-tarpaulin@main
        with:
          version: '0.23.1'
      - name: Run tests
        id: test
        continue-on-error: true
        run: |
          cd chris
          cargo tarpaulin --color Always --locked --all-features --workspace --timeout 120 --out Xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./chris/cobertura.xml
          tags: chris
      - name: End test
        run: '[ "${{ steps.test.outcome }}" = "success" ]'
