name: Test

env:
  CARGO_TERM_COLOR: always

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  local:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Keyring dependencies
        run: |
          sudo apt update -y
          sudo apt install -y gnome-keyring
      - name: Run ChRIS backend
        uses: FNNDSC/miniChRIS-docker@20221119

      - name: Git checkout
        uses: actions/checkout@v3
      - name: Setup rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - name: Setup rust cache
        uses: Swatinem/rust-cache@v1
      - name: Run tests
        # https://github.com/hwchen/keyring-rs/blob/4297618e0cf061eacedf6d7c3f164ee4074a3c5d/linux-test.sh
        run: |
          cat > test.sh << EOF
          rm -f $HOME/.local/share/keyrings/*
          echo -n "test" | gnome-keyring-daemon --unlock
          cargo test
          EOF
          dbus-run-session -- bash test.sh
